body {
    margin: 0;
    height: 98vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width: 95%;
    max-width: 1024px;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* background-color: #eee; */
}

.chat-history {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    /* border: 1px solid #555; */
    border-radius: 5px;
    background-color: #222;
    /* 允许滚动 */
    overflow: auto;
    /* 对 Firefox 隐藏滚动条 */
    scrollbar-width: none;
    /* 对 IE 和 Edge 隐藏滚动条 */
    -ms-overflow-style: none;
}

.chat-history::-webkit-scrollbar {
    /* 对 Chrome, Safari 和 Opera 隐藏滚动条 */
    display: none;
}

.message {
    display: flex;
    margin: 10px 0;
}

.message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #555;
    margin: 0 10px;
}

.message-content {
    max-width: 70%;
    padding: 10px;
    border-radius: 5px;
}

.sent .message-content {
    background-color: #3b3abe;
    margin-left: auto;
}

.received .message-content {
    background-color: #333;
}

.input-area {
    display: flex;
    margin-top: 10px;
}

.input-area textarea {
    height: 1.5em;
    flex: 1;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #222;
    color: #fff;
    vertical-align: middle;
    line-height: 1.5em;
    resize: none;
    /* 允许滚动 */
    overflow: auto;
    /* 对 Firefox 隐藏滚动条 */
    scrollbar-width: none;
    /* 对 IE 和 Edge 隐藏滚动条 */
    -ms-overflow-style: none;
}

.input-area textarea::-webkit-scrollbar {
    /* 对 Chrome, Safari 和 Opera 隐藏滚动条 */
    display: none;
}

.send-button {
    background-color: #8b5cf6;
    color: white;
    border: none;
    padding: 9px 20px;
    border-radius: 5px;
    cursor: pointer;
}